
.persona-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  

 
}
.persona-card {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.01);
    border: #3880ff solid 1px;
  }


  ion-item.card-header {
    --inner-padding-end: 0;
    --padding-start: 12px;
    --min-height: 80px;

    h2 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .profesion {
      font-size: 0.9rem;
      color: #666;
    }
  }

  ion-avatar {
    width: 56px;
    height: 56px;

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  ion-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 0;

    .info-line {
      display: flex;
      align-items: center;
      font-size: 0.95rem;
      color: #444;

      ion-icon {
        font-size: 1.2rem;
        margin-right: 8px;
        color: #3880ff;
      }
    }
  }
}
